page-login {
  
  .scroll-content {
    // overflow-y: hidden;
  }

	.body-wrapper {
    width: 100%;
    position: relative;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    min-height: 667px; 
  }

  ion-input{
    width: 90%;
     display: inline;  
  }

  .bg-shape-gradient {
    width: 100%;
    position: absolute;
    z-index: 0;
    flex: 1; 
  }
  .bg-shape-gradient img {
    width: 100%;
    height: 180px; 
  }

  .content {
    position: relative;
    z-index: 11;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
  }
  .content .header-text {
    margin: 3rem 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-height: 30px; 
  }
  .content .header-text .logo {
    height: 80px;
    position: relative;
    top: -2rem; 
  }
  .content .box {
    background-color: #f8d53b;
    border-bottom: 25px solid #f6ca0a;
    width: calc(100% - 30px);
    height: 140px;
    padding: 10px 15px;
    position: relative; 
  }
  .content .box-view {
    background-color: #3e43cd;
    border-bottom: 25px solid #5e79bb;
    width: calc(100% - 30px);
    height: 140px;
    padding: 10px 15px;
    position: relative;
    z-index: 22; 
  }




  .form-wrapper {
    margin-top: -2rem;
    width: calc(100% - 10%);
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    align-items: flex-start;
    flex-direction: column;
    position: relative; 
  }
  .form-wrapper .title {
    width: 100%;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    color: #3bd999;
    font-size: 2.85rem;
    font-weight: 300;
    text-align: center; 
  }
    .form-wrapper .title span {
      font-weight: 700;
      color: #12c0c0; }
  .form-wrapper .form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .form-wrapper .form .is-centerize {
      display: flex !important;
      justify-content: center; }
    .form-wrapper .form .form-group {
      border: none;
      outline: none;
      background-color: transparent;
      width: 90%;
      display: inline-block;
      color: #3bd999;
      font-size: 14px; 
      position: relative;}
      .form-wrapper .form .form-group input {
        border: none;
        outline: none;
        font-size: 1.25rem;
        background-color: transparent;
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        padding: 15px 10px;
        border-bottom: 2px solid #3bd999;
        margin: 0 auto;
        width: 100% }
      .form-wrapper .form .form-group span.icon {
            right: 10px;
            position: absolute;
            top: 0px;
            font-size: 1.25rem;
            line-height: 60px; }
      .form-wrapper .form .form-group .left, .form-wrapper .form .form-group .right {
        width: 50%;
        display: inline-block; }
    .form-wrapper .form .form-group:not(:last-child) {
      margin-bottom: 1.25rem; }
    .form-wrapper .form .form-group.wrap {
      margin-top: -1.05rem;
      vertical-align: middle;
      display: inline-block; }
      .form-wrapper .form .form-group.wrap .checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 30px);
        padding: 0 15px;
        align-items: center;
        justify-content: flex-start; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper a {
          margin-left: auto;
          color: #3bd999; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper input[type='checkbox'] {
          width: 10%;
          margin-right: auto;
          margin-left: -12px; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper span.checkbox-caption {
          margin-left: -50px; }

          button.submit {
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 25px;
  min-width: 125px;
  border: none;
  color: #5a6571;
  background-color: #fafafa;
  box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0 auto; }



.footer {
  position: absolute;
  background-color: #5e79bb;
  width: calc(800px - 30px);
  padding: 15px;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: -1px;
  transition: all 0.3s; }
  .footer p {
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px; }
    .footer p a {
      font-weight: 400;
      color: #fff; }

.is-transparent {
  background-color: transparent !important; }

  .bg-shape-half {
  position: absolute;
  z-index: 0;
  bottom: 0;
  margin-left: auto;
  flex: 1;
  display: flex;
  width: 100vw;
  justify-content: center; }
  
  .bg-shape-half img {
    width: 100%;
    max-height: 495px; }
}