<ion-content>
	<div class="body-wrapper is-white">
		
		<div class="bg-shape-gradient" data-aos="fade-down" data-aos-duration="1500">
			<img src="assets/img/gradient-bg.png" alt="">
		</div>

		<div class="content">
			
			<div class="header-text" data-aos="fade-down" data-aos-duration="1500">
				<img src="assets/img/xpert-logo.png" alt="" class="logo">
			</div>

			<div class="form-wrapper" data-aos="fade-down" data-aos-duration="1500">
				<div class="title">LOG <span>IN</span></div>

				<form class="form">

					<fieldset class="form-group">
						<ion-input type="text" placeholder="Username" name="username" [(ngModel)]="account.username"></ion-input>
						<span class="icon"><i class="fas fa-user"></i></span>
					</fieldset>
					<fieldset class="form-group">
						<ion-input type="password" placeholder="Password" name="password" [(ngModel)]="account.password"></ion-input>
						<span class="icon"><i class="fas fa-key"></i></span>
					</fieldset>
					<!-- <fieldset class="form-group wrap">
							<div class="checkbox-wrapper">
								<input type="checkbox">
								<span class="checkbox-caption">Remember <span class="is-bold">me</span></span>
								<a href="#">forgot <span class="is-bold">Password</span></a>
							</div>
					</fieldset> -->
					<fieldset class="form-group is-centerize">
						<button class="submit" (click)="login()">Login</button>
					</fieldset>
				</form>
			</div>

			<!-- <div class="footer is-transparent">
				<p>Don't have an account? <a href="#">Sign Up</a></p>
			</div> -->

		</div>

		<div class="bg-shape-half" data-aos="fade-up" data-aos-duration="1500">
			<img src="assets/img/half-bg.png" alt="">
		</div>

	</div>
</ion-content>