<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
			<div class="search-box">
				<input type="text" placeholder="Search">
				<span class="icon">
					<i class="fas fa-search"></i>
				</span>
			</div>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let document of documents" >
					<ion-label class="label__list">
						<div class="icon__wrapper">
					  		<img src="assets/img/dokumen.png" alt="">
					  	</div>
						<div class="icon__text">
							<h2>No : {{ (document.no==null) ? '--' : document.no}}</h2>
							<h3>Folder : {{ document.code_folder }}</h3>
							<h3>Box : {{ document.code_box }}</h3>
							<h3>Lemari : {{ document.code_cabinet }}</h3>
							<p>Description : {{ document.uraian}}</p>
						</div>
					<button ion-button class="downloadBtn" color="primary" (click)="download(document)" *ngIf="(document.dokumen_file!=null&&document.dokumen_file!='')">
						<ion-icon name="document"></ion-icon>
					</button>
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
<!-- 
		<div class="footer">
			<button class="submit" (click)="scanFolder(document)">Lanjut</button>
		</div> -->

	</div>

</div>

</ion-content>
