@import '3-utilities/variables';

* {
  padding: 0;
  margin: 0;
}

.is- {

  // &dropdown {
  // display: none; 
  // }

  // &show {
  //   display: block;
  //   visibility: visible;
  //   opacity: 1; 
  // }

  // &hide {
  //   display: none; 
  // }

  &white {
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    color: #121212 !important; 
  }

  &primary {
    background-color: #3273dc !important;
    color: #fff !important; 
  }

  &danger {
    background-color: #ff3860 !important;
    color: #fff !important; 
  }

  &warning {
    background-color: #ffdd57 !important;
    color: rgba(0, 0, 0, 0.7) !important; 
  }

  &success {
    background-color: #23d160 !important;
    color: #fff !important; 
  }

  &centered {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  &right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
  }

  &left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
  }

  &grouped {
    display: flex;
    clear: both;
    justify-content: center;
    align-items: center; 
  }

  &grouped-right {
    display: flex;
    clear: both;
    justify-content: flex-end;
    align-items: flex-end; 
  }

  &grouped-left {
    display: flex;
    clear: both;
    justify-content: flex-start;
    align-items: flex-start; 
  }

  &link {
    background-color: transparent !important;
    color: #3273dc !important; 
  }

  &block {
    margin: 1rem 0 2rem; 
  }

  &expand {
    width: calc(100% - .25rem * 2);
    display: flex;
    align-items: center;
    justify-content: center !important; 
  }

  &light {
    font-weight: 300;
  }

  &bold {
    font-weight: 700;
  }

}

.initialize-after {
  margin-top: 9.1rem; }

.block {
  margin-bottom: 1.75rem; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

h1, .huge {
  font-size: 68px !important;
  line-height: 1.05 !important; }
  @media only screen and (max-width: 680px) {
    h1, .huge {
      font-size: 44px; } }

h2, .large {
  font-size: 42px !important;
  line-height: 1.14 !important; }
  @media only screen and (max-width: 680px) {
    h2, .large {
      font-size: 32px; } }

h3, .bigger {
  font-size: 26px !important;
  line-height: 1.38 !important; }
  @media only screen and (max-width: 680px) {
    h3, .bigger {
      font-size: 22px; } }

h4, .big {
  font-size: 22px !important;
  line-height: 1.38 !important; }
  @media only screen and (max-width: 680px) {
    h4, .big {
      font-size: 18px; } }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }