<div class="scanner-page" data-aos="fade-up" data-aos-duration="500">
		
	<div class="scanner-header" data-aos="fade-down" data-aos-duration="1500">
		<div class="upper">
			<!-- <a class="button-back">
				<span class="icon"><i class="fas fa-arrow-left"></i></span>
				Back
			</a>
			<div class="button-group">
				<a href="#">
					<span class="icon"><i class="fas fa-image"></i></span>
					<span class="icon"><i class="fas fa-bolt"></i></span>
				</a>
			</div>
		</div>
		<div class="under">
			<p>Point your camera towards the QR code <br> to scan</p>
		</div>
	</div> -->
	
	<ion-row>
			<button class="back__button" ion-button block (click)="back()">
				<img src="assets/img/left-arrow.png" alt="">
			</button>
		</ion-row>
		<div class="under">
			<ion-row>
				<p>Point your camera towards the QR code <br> to scan</p>
			</ion-row>
		</div>
		</div>
	</div>

	<ion-content padding>
		<ion-card *ngIf="result">
		  <ion-card-content>
			<p>ID Folder : {{result.text}}</p>
		  </ion-card-content>
		</ion-card>
	  
		<ion-row>
		  <button ion-button block (click)="scanBarcode()">SCAN FOLDER</button>
		</ion-row> 
		
</ion-content>

	<div class="scanner-footer">
		<div class="under" *ngIf="isCapture">
			<button class="submit" (click)="scanBox(document)">Lanjut Scan Box</button>
		</div>
	</div>

</div>

