
	<div class="confirmation-page">

		<div class="upper">
			
			<div class="big-card" data-aos="fade-up" data-aos-duration="1500">
				
				<img src="assets/img/folder-logo.png" alt="">
				<img src="assets/img/check-logo.png" alt="" class="check-icon">

				<div class="big-card-title">
					<span>Great !</span>
					<br>
					Folder telah ditambahkan
				</div>

			</div>

		</div>

		<div class="under">
			<button class="submit" (click)="homesweethomee()">Selesai</button>
		</div>

	</div>