page-peminjaman-detail {
    .back__button {
        background-color: transparent;
        width: calc(10% - 15px);
        margin-right: 15px;
        height: auto;
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
    
        &.activated {
          background-color: transparent;  
        }
    
        img {
          height: 20px;
          max-width: 20px!important;
        }
      }
    
      .content .box-view {
        background-color: #f8d53b;
        // border-bottom: 25px solid #5e79bb;
        width: 100%;
        height: auto;  
        display: flex;
        // height: 80px;
        padding: 10px 15px !important;
        position: relative;
        z-index: 22; }
    
      .search-box {
        width: 90%;
        padding: 10px 15px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);
        color: #5e79bb; }
        .search-box input {
          width: 90%;
          outline: none;
          border: none;
          font-size: 17px;
          font-family: "Nunito", sans-serif; }
        .search-box input::-webkit-input-placeholder {
          color: #5e79bb;
          opacity: .5;
          font-weight: 700; }
        .search-box span.icon {
          font-size: 19px; }
      .footer{
        background-color: #f8d53b;
      }
      .body-wrapper {
        width: 100%;
        position: relative;
        background-color: #f9f9f9;
        justify-content: center;
        min-height: 667px; }
      .content {
        position: relative;
        z-index: 11;
        position: relative;
        margin: 0 auto; }
        
}
