<ion-content>

	<div class="body-wrapper menu-wrapper">
  
	  <div class="content">
		  
		  <div class="box-view" data-aos="fade-up" data-aos-duration="500">
				  <button class="back__button" ion-button block (click)="back()">
					  <img src="assets/img/left-arrow.png" alt="">
				  </button>
			  <div class="search-box">
				  <input type="text" placeholder="Search">
				  <span class="icon">
					  <i class="fas fa-search"></i>
				  </span>
			  </div>
		  </div>
  
		  <div class="list-wrapper">
			  <ion-list>
				  <ion-item *ngFor="let details of detail">
					  <ion-label class="label__list">
						<div class="icon__wrapper">
					  		<img src="assets/img/peminjaman.png" alt="">
					  	</div>
						<div class="icon__text">
						  	<h3>No : {{ (details.no==null) ? '--' : details.no}}</h3>
							<p>Description : {{ details.uraian}}</p>
						</div>
					  </ion-label>
				  </ion-item>
			  </ion-list>
		  </div>
		  
		  <!-- <div class="footer">
			  <button class="submit" (click)="listDokumen(berkas)">Lanjut</button>
		  </div> -->
  
	  </div>
  
  </div>
  </ion-content>
  