<ion-content>

	<div class="body-wrapper menu-wrapper">
  
	  <div class="content">
		  
		  <div class="box-view" data-aos="fade-up" data-aos-duration="500">
				  <button class="back__button" ion-button block (click)="back()">
					  <img src="assets/img/left-arrow.png" alt="">
				  </button>
				  <div class="search-box">
					  <ion-title>Form Peminjaman</ion-title>
				</div>
			  <!-- 
				  <input type="text" placeholder="Search">
				  <span class="icon">
					  <i class="fas fa-search"></i>
				  </span>
			   -->
		  </div>
		<ion-item style="margin-top: 15px">	
				<ion-input placeholder="Keperluan" name="keperluan" [(ngModel)]="peminjaman.keperluan"></ion-input>
		</ion-item>
		<br>
		<ion-item>	
				<ion-input placeholder="Jml. Hari Peminjaman" type="number" name="date" [(ngModel)]="peminjaman.date"></ion-input>
		</ion-item>
		<br>
		<ion-item>	
				<ion-textarea placeholder="Catatan" name="remark" [(ngModel)]="peminjaman.remark"></ion-textarea>
		</ion-item>
  
	  </div>
  
  </div>
  </ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="submit" (click)="next()">Lanjut</button>
  </ion-toolbar>
</ion-footer>
  