<ion-content>

  <div class="body-wrapper menu-wrapper">
  
    <div class="content">
      
        <div class="box-view" data-aos="fade-up" data-aos-duration="500">
            <button class="back__button" ion-button block (click)="back()">
                <img src="assets/img/left-arrow.png" alt="">
            </button>
            <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
            </div>
  
        <div class="list-wrapper">
            <ion-list>
               
                <ion-item *ngFor="let box of boxes" >
                     <ion-checkbox [(ngModel)]="box.value" item-start></ion-checkbox>
                    <ion-label item-end class="list-box">
                        <img src="assets/img/box-logo.png" class="box-img">
                        <div>

                            <h3>{{box.code}}</h3>
                            <p>{{ box.record_center}}</p>
                        </div>
                    </ion-label>
                    
                </ion-item>
            </ion-list>
        </div>
         <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
  
</div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="submit" (click)="scanAssignBox(box)">Lanjut</button>
  </ion-toolbar>
</ion-footer>
  