<ion-content>

  <div class="body-wrapper menu-wrapper">
  
    <div class="content">
      
        <div class="box-view" data-aos="fade-up" data-aos-duration="500">
            <button class="back__button" ion-button block (click)="back()">
                <img src="assets/img/left-arrow.png" alt="">
            </button>
            <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
            <!-- <div class="search-box">
                
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
            </div> -->
        </div>
  
        <div class="list-wrapper">
            <ion-list>
                <ion-item *ngFor="let folder of folders" (click) ="next(folder.id)">
                  
                      <ion-label item-end class="list-folder">
                        <img src="assets/img/folder-logo.png" class="folder-img">
                        <div>
                            
                            <h3>Kode Folder : {{folder.code}}</h3>
                            <p>Record Center : {{ folder.record_center}}</p>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-list>
        </div>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
  
</div>
  
</ion-content>

<ion-footer>

</ion-footer>