page-home {

	//@import "https://unpkg.com/aos@2.3.1/dist/aos.css";

ion-icon.icon {
  margin-right: 8px;
}

.bg-shape-yellow {
  width: 100%;
  position: absolute;
  z-index: 0;
  flex: 1; }
  .bg-shape-yellow img {
    width: 100%;
    height: 265px; }

    .content {
    position: relative;
    z-index: 11;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }


    .content .header-text {
      margin: 4rem 0 3rem 0;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 17px;
      text-align: center;
      font-weight: 400;
      width: 100%;
      max-height: 30px; }
      .content .header-text .logo {
        height: 80px;
        position: relative;
        top: -2rem; }
    .content .box {
      background-color: #f8d53b;
      border-bottom: 25px solid #f6ca0a;
      width: calc(100% - 30px);
      height: 140px;
      padding: 10px 15px;
      position: relative; }
    .content .box-view {
      background-color: #3e43cd;
      border-bottom: 25px solid #5e79bb;
      width: calc(100% - 30px);
      height: 140px;
      padding: 10px 15px;
      position: relative;
      z-index: 22; }


  .is-bold {
    font-weight: 700; }


    .card-wrapper {
    width: calc(100% - 0px);
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    align-items: flex-start;
    flex-direction: column;
    position: relative; }
    .card-wrapper ul li {
      list-style: none;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      min-height: 74px; }
    .card-wrapper .menu-card {
      width: calc(100% - 0px);
      background-color: #fff;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      border: 1px solid #ddd;
      max-height: 70px;
      transition: all 0.3s; }
      .card-wrapper .menu-card .logo-icon {
        height: 50px; }
      .card-wrapper .menu-card .title-card {
        font-size: 1.25rem;
        font-family: "Nunito", sans-serif;
        color: #5a6571;
        padding-left: 1.75rem;
        display: flex;
        flex-wrap: wrap; }
        .card-wrapper .menu-card .title-card span {
          width: 100%; }
        .card-wrapper .menu-card .title-card span.sub-title {
          font-size: 14px;
          color: #7d8f9e;
          margin-top: -6px;
          font-weight: 300; }
    .card-wrapper .behind {
      position: relative;
      z-index: 33;
      max-height: 50px;
      background-color: #36379e;
      color: #fff;
      width: 100%;
      padding: 9px 10px 9px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: .85rem;
      transition: all .3s;
      margin-top: 1px; }
    .card-wrapper .menu-card:not(:last-child) {
      margin-bottom: .45rem; }
    .card-wrapper .menu-card:hover {
      box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
      transform: translate(0, -5px) !important;
      background-color: white; }
    .card-wrapper .card {
      width: calc(100% - 0px);
      background-color: #fff;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
      border: 1px solid #ddd;
      max-height: 70px;
      transition: all 0.3s;
      position: absolute;
      z-index: 44; }
      .card-wrapper .card .logo-icon {
        height: 50px; }
      .card-wrapper .card .title-card {
        font-size: 1.05rem;
        font-family: "Nunito", sans-serif;
        color: #5a6571;
        padding-left: 1.25rem;
        display: flex;
        flex-wrap: wrap; }
        .card-wrapper .card .title-card span {
          width: 100%; }
          .card-wrapper .card .title-card span span.icon {
            font-size: 14px;
            width: 10%;
            margin: 0 1.25rem; }
        .card-wrapper .card .title-card span.sub-title {
          font-size: 14px;
          color: #7d8f9e;
          margin-top: -4px;
          font-weight: 300; }
      .card-wrapper .card .circle-icon {
        height: 15px;
        width: 15px;
        display: block;
        border-radius: 25px;
        background-color: transparent;
        border: 2px solid #ddd;
        margin-left: auto; }
    .card-wrapper .behind {
      position: relative;
      z-index: 33;
      max-height: 50px;
      background-color: #36379e;
      color: #fff;
      width: 100%;
      padding: 9px 15px 9px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: .85rem;
      transition: all .3s;
      margin-top: 1px; }
    .card-wrapper .card:not(:last-child) {
      margin-bottom: .45rem; }

  .list-wrapper {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    position: relative;
    z-index: 33;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    justify-content: center;
    margin-bottom: -50px;
    padding-bottom: 2rem; }



  .cardSwipe > .card > .title-card > span {
    color: #fff !important; }

  .cardSwipe > .card > .title-card > .sub-title {
    color: #fff !important; }


    .bg-shape-green {
      position: fixed;
      z-index: 0;
      bottom: 0;
      margin-left: auto;
      flex: 1;
      display: flex;
      width: 100%;
      justify-content: flex-end; }
      .bg-shape-green img {
        max-width: 395px;
        max-height: 395px; }




.logoutIcon{
  position: absolute;
  right: 0px;
}




















}
