<ion-content>

	<div class="body-wrapper menu-wrapper">
		
		<div class="bg-shape-yellow" data-aos="fade-down" data-aos-duration="1500">
			<img src="assets/img/yellow-bg.png" alt="">
		</div>

		<div class="content">
			<button ion-button color="light" clear class="logoutIcon"  (click)="logout()" > 
				<ion-icon name="exit"></ion-icon>Logout
			</button>
			<div class="header-text" data-aos="fade-down" data-aos-duration="1500">
				
				<span>Selamat Datang {{user?.name}}</span>

				<br>

				<span class="is-bold">Apa yang ingin anda lakukan hari ini?</span>
				
			</div>

			<div class="card-wrapper">
				<div class="menu-card" (click)="search()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
						<img src="assets/img/search.png" alt="" class="logo-icon">
						<div class="title-card is-bold">
							Search By Scan
						</div>
					</div>
				<div class="menu-card" (click)="entry()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/entry-logo.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Entry
					</div>
				</div>
				<div class="menu-card" (click)="asignfolder()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/folder-logo.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Assign Folder
					</div>
				</div>
				<div class="menu-card" (click)="asignbox()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/box-logo.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Assign Box
					</div>
				</div>
				<div class="menu-card" (click)="pemberkasan()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/pemberkasan.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Pemberkasan
					</div>
				</div>
				<div class="menu-card" (click)="dokumen()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/file.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Dokumen
					</div>
				</div>
				<div class="menu-card" (click)="berkas()" data-aos="zoom-in-up" data-aos-duration="1000" *ngIf="(user?.id_role==2||user?.id_role==3)">
					<img src="assets/img/dokumen.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Berkas
					</div>
				</div>
				<div class="menu-card" (click)="peminjaman()" data-aos="zoom-in-up" data-aos-duration="1000" >
					<img src="assets/img/peminjaman.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Peminjaman
					</div>
				</div>
				<div class="menu-card" (click)="lemari()" data-aos="zoom-in-up" data-aos-duration="1000" >
					<img src="assets/img/lemari.png" alt="" class="logo-icon">
					<div class="title-card is-bold">
						Lemari
					</div>
				</div>
			</div>

		</div>

		<div class="bg-shape-green" data-aos="fade-left" data-aos-duration="1500">
			<img src="assets/img/green-bg.png" alt="">
		</div>

	</div>

</ion-content>