page-pemberkasan-new {
 

.search-box {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);
  color: #5e79bb; }
  .search-box input {
    width: 90%;
    outline: none;
    border: none;
    font-size: 17px;
    font-family: "Nunito", sans-serif; }
  .search-box input::-webkit-input-placeholder {
    color: #5e79bb;
    opacity: .5;
    font-weight: 700; }
  .search-box span.icon {
    font-size: 19px; }

.content {
  position: relative;
  z-index: 11;
  width: 100%;
   }
  .content .header-text {
    margin: 3rem 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-height: 30px; }
    .content .header-text .logo {
      height: 80px;
      position: relative;
      top: -2rem; }
  .content .box {
    background-color: #f8d53b;
    border-bottom: 25px solid #f6ca0a;
    width: 100%;
    height: 80px;
    padding: 10px 15px;
    position: relative; }
  .content .box-view {
    background-color: #3e43cd;
    border-bottom: 25px solid #5e79bb;
    width: calc(100% - 30px);
    height: 140px;
    padding: 10px 15px;
    position: relative;
    z-index: 22; }

.pull-up {
  top: -6.5rem; }

.footer {
  position: fixed;
  background-color: #5e79bb;
  width: calc(800px - 30px);
  padding: 15px;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: -1px;
  transition: all 0.3s; }
  .footer p {
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px; }
    .footer p a {
      font-weight: 400;
      color: #fff; }

.is-transparent {
  background-color: transparent !important; }

button.submit {
  font-size: 19px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 4px;
  min-width: 280px;
  border: none;
  color: #5a6571;
  min-height: 60px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(62, 67, 205, 0.5);
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  position: relative;
  margin: 0 auto; }



}
