<ion-content>	
	<div class="body-wrapper menu-wrapper">
			
		<div class="content">
			
			<div class="box" >
				<div class="search-box">
					<input type="text" placeholder="Search">
					<span class="icon">
						<i class="fas fa-search"></i>
					</span>

				</div>

			</div>
			<!-- <div class="card-wrapper"> -->
			<!-- <ul>
					<li>					
						<button class="submit" onclick="location.href='index.php'"><img class="pagee" src="assets/img/file-logo.png" alt="">Login</button>
					</li>
			</ul> -->
			<!-- <ul> -->
			<ion-list padding>
			  <ion-item *ngFor="let folder of folders" (click)="pemberkasan()"> 
			    <ion-thumbnail item-start>
			      <img src="assets/img/folder-logo.png" alt="" class="logo-icon">
			    </ion-thumbnail>
			    <ion-label>
			    <h2>No. {{ folder.code}}</h2>
			    <!-- <span class="sub-title">Pengadaan Komputer thn. 2018 oleh ICT</span> -->
				</ion-label>
			  </ion-item>
			</ion-list>
			<!-- <li>
				<div >
					
					<div class="title-card is-bold">
						<span></span>
						<span class="sub-title">
							
						</span>
					</div>
				</div>
			</li> -->

					
				<!-- </ul> -->
						<!-- </div> -->
					
					

		</div>

	</div>
</ion-content>