page-asignbox {
  
  .list-wrapper {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    position: relative;
    z-index: 33;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: $shadow-light;
    justify-content: center;
    margin-bottom: -50px;
    padding-bottom: 2rem;

    .list {
      width: calc(90% - 28px);
      background-color: #fff;
      padding: 12px 15px;
      border-top: 1px solid #ddd;
      display: flex;
      align-items: center;
      max-height: 70px;
      transition: $transition;
      position: absolute;
      z-index: 44;

      .title-list {
        font-size: 1.05rem;
        font-family: $nunito;
        color: $text;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .text {
          width: 90%;

          span.sub-title {
            font-size: 14px;
            color: $text-light;
            font-weight: 300;
            display: block;
            margin-top: -6px;
          }
        }

        span.circle-icon {
          height: 15px;
          width: 15px;
          display: block;
          border-radius: 25px;
          background-color: transparent;
          border: 2px solid #ddd;
          margin-left: auto;
        }
      }
    }

    .behind {
      position: relative;
      z-index: 33;
      margin-top: 1px;
      max-height: 43px;
      background-color: $blue-dark;
      color: #fff;
      width: calc(90% - 30px);
      padding: 9px 10px 9px 15px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1rem;
      transition: all .3s;
    }

    .list:last-child {
      // border-bottom: 1px solid #ddd;
    }

    // .list:not(:last-child) {
    //  margin-bottom: .45rem;
    // }
  }
}
