
	<div class="confirmation-page">

		<div class="upper">
			
			<div class="big-card" data-aos="fade-up" data-aos-duration="1500">
				
				<!-- <img src="assets/img/box-logo.png" alt=""> -->
				<img src="assets/img/check-logo.png" alt="">

				<div class="big-card-title">
					<span>Great !</span>
					<br>
					Folder & Box telah ditambahkan
				</div>

			</div>

		</div>

		<div class="under">
			<button class="submit" (click)="homesweethome()">Selesai</button>
		</div>

	</div>