page-entry3new {
  .confirmation-page {
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 667px; }
  .confirmation-page .upper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 66px);
    height: calc(100vh - 66px); }
    .confirmation-page .upper .big-card {
      width: 60%;
      padding: 3.25rem 15px 15px 15px;
      background-color: #fff;
      box-shadow: 0 6px 24px rgba(59, 217, 153, 0.5);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 8px; }
      .confirmation-page .upper .big-card img {
        height: 125px; }
      .confirmation-page .upper .big-card img.check-icon {
        position: absolute;
        height: 75px;
        margin-left: 60px;
        margin-top: 75px;
        border-radius: 50px;
        box-shadow: 0 6px 24px rgba(59, 217, 153, 0.5); }
      .confirmation-page .upper .big-card .big-card-title {
        margin: 2rem 0;
        font-family: "Nunito", sans-serif;
        color: #5a6571;
        font-weight: 700;
        text-align: center; }
        .confirmation-page .upper .big-card .big-card-title span {
          color: #3bd999;
          font-size: 1.45rem; }
  .confirmation-page .under {
    position: fixed;
    background-image: linear-gradient(to right, #3bd999, #12c0c0);
    width: 100%;
    padding: 15px;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 999;
    bottom: -1px;
    transition: all 0.3s; }
}