<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
			 <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item text-wrap *ngFor="let document of documents" >
					<ion-label>
						<div>
							<h2>No : {{ (document.no==null) ? '--' : document.no}}</h2>
							<p ion-text color="primary" class="indexed" *ngIf="document.indeks != null">Indeks : {{ document.indeks}}</p>
							<h3>Folder : {{ document.code_folder }}</h3>
							<h3>Box : {{ document.code_box }}</h3>

							
							<h3>Lemari : {{ document.code_cabinet }}</h3>
							<p>Description : {{ document.uraian}}</p>

							<!-- <p>{{ documen.code_box }}</p> -->
						</div>
					</ion-label>
					<ion-checkbox [(ngModel)]="document.value"></ion-checkbox>
					<!-- <button ion-button color="light" (click)="download()">
						<ion-icon name="document"></ion-icon>
					</button> -->
					
				</ion-item>
			</ion-list>
		</div>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
	   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	 	</ion-infinite-scroll>
	</div>

</div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="submit" (click)="scanFolder(document)">Lanjut</button>
  </ion-toolbar>
</ion-footer>
