<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
			 <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item text-wrap *ngFor="let document of documents" >
					<ion-label>
						<div>
							<h3>No : {{ (document.no==null) ? '--' : document.no}}</h3>
							<p>Description : {{ document.uraian}}</p>
						</div>
					</ion-label>
					<ion-checkbox [(ngModel)]="document.value"></ion-checkbox>
				</ion-item>
			</ion-list>
		</div>

	</div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button class="submit" (click)="scanFolder(document)">Lanjut Scan Folder</button>
  </ion-toolbar>
</ion-footer>
