<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
			<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let berkas of archive" (click)="next(berkas.id)">
					<ion-label class="label__list">
						<div class="icon__wrapper">
					  		<img src="assets/img/dokumen.png" alt="">
					  	</div>
						<div>
							<h3>No : {{ (berkas.klasifikasi==null) ? '--' : berkas.klasifikasi}}</h3>
							<p>Description : {{ berkas.indeks}}</p>
						</div>
					</ion-label>
					<!-- <ion-checkbox [(ngModel)]="berkas.value"></ion-checkbox> -->
				</ion-item>
			</ion-list>
		</div>

		<!-- <div class="footer">
			<button class="submit" (click)="listDokumen()">Lanjut</button>
		</div> -->

	</div>

</div>

</ion-content>
