// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../assets/scss/fontawesome.scss";
@import "../assets/scss/solid.scss";
@import "../assets/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

.back__button {
    background-color: transparent;
    width: calc(10% - 15px);
    margin-right: 15px;
    height: auto;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.content {
  .box-view {
    padding: 5px 15px !important;
  }
}

.confirmation-page {
  .upper {
    height: calc(100vh - 0px) !important;
  }
}

.input-wrapper {
  padding-left: 15px;
}

.checkbox-md {
  margin: 9px 6px 9px 12px !important;
}

.toolbar-md {
  min-height: 45px !important;
}

.icon__wrapper {
  height: 55px;
  width: 55px;
  margin-right: 15px;

  img {
    height: 100%;
  }
}

.icon__text {
  width: 60%;
}

.clear {
  clear: both;
}

.label__list {
  display: flex;
  width: 100%;
}

.item-md p {
  white-space: pre-line;
}

.list-md{
    width: 100%;
  }
  .item-md{
    padding-left: 0px;
  }
  .label-md{
    
    align-items: center;
  }
  .checkbox-md{
    
    align-items: center;
  }
  .checkbox{
    
    align-items: center;
  }
  .pagee{
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px solid #c8c7cc;
  }

$open-sans : "Open sans";
$nunito : "Nunito";
.user {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-user);
  }
}

.key {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-key);
  }
}

.search {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-search);
  }
}
.check {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($fa-var-check);
  }
}
.content .box-view {
  background-color: #f8d53b !important;
  width: 100%;
  height: 80px;
  padding: 10px 15px;
  position: relative;
  z-index: 22; 
}
.search-box {
  width: 100%;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);
  color: #5e79bb; }
  .search-box input {
    width: 90%;
    outline: none;
    border: none;
    font-size: 17px;
    font-family: "Nunito", sans-serif; }
  .search-box input::-webkit-input-placeholder {
    color: #5e79bb;
    opacity: .5;
    font-weight: 700; }
  .search-box span.icon {
    font-size: 19px; }

.footer {
  position: fixed;
  background-color: #f8d53b !important;
  width: 100%;
  padding: 5px 15px;
  // max-height: 55px;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: -1px;
  transition: all 0.3s; 

  .toolbar-background-ios , .toolbar-background-md {
    border: none !important;
    background-color: transparent !important;
  }

  .toolbar-content {
    button.submit {
      box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
    }
  }
}
  .footer p {
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px; }
    .footer p a {
      font-weight: 400;
      color: #fff; }

button.submit {
    font-size: 19px;
    padding: 5px 15px;
    border-radius: 25px;
    min-width: 125px;
    border: none;
    color: #5a6571;
    background-color: #fafafa;
    box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    position: relative;
    margin: 0 auto; 
  }

.searchbar-ios {
  border: none !important;
  background: transparent !important;
}