<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
				<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let cupboard of cupboards" (click) ="next(cupboard.id)" >
					<ion-label class="label__list">
						<!-- <div class="icon__wrapper">
					  		<img src="assets/img/file.png" alt="">
					  	</div> -->
						<div class="icon__text">
							<h2>Lemari : {{ (cupboard.code==null) ? '--' : cupboard.code}}</h2>
							<h3>{{ (cupboard.record_center) }}</h3>
						</div>
						<br class="clear">
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>

</div>
</ion-content>
