
// @import '3-utilities/variables';

// - - - F O N T S - - -

$nunito : 'Nunito', sans-serif;
$open-sans : 'Open Sans', sans-serif;

// - - - C O L O R S - -

$green-bis : #3bd999;
$green-dark: #12c0c0;
$gradient-green : linear-gradient(to right, $green-bis, $green-dark);
$yellow-bis : #f8d53b;
$yellow-dark: darken($yellow-bis, 10%);
$blue-bis : #3e43cd;
$blue-dark: #36379e;
$blue-light: #5e79bb;

$text: #5a6571;
$text-light: #7d8f9e;

$primary : (#3273dc, #fff);
$danger: (#ff3860, #fff);
$warning: (#ffdd57, rgba(0,0,0,.7));
$success: (#23d160, #fff);

$black:        hsl(0, 0%, 4%) !default;
$black-bis:    hsl(0, 0%, 7%) !default;
$black-ter:    hsl(0, 0%, 14%) !default;

$grey-darker:  hsl(0, 0%, 21%) !default;
$grey-dark:    hsl(0, 0%, 29%) !default;
$grey:         hsl(0, 0%, 48%) !default;
$grey-light:   hsl(0, 0%, 71%) !default;
$grey-lighter: hsl(0, 0%, 86%) !default;

$white-ter:    hsl(0, 0%, 96%) !default;
$white-bis:    hsl(0, 0%, 98%) !default;
$white:        hsl(0, 0%, 100%) !default;

// Typography

$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 500 !default;
$weight-semibold: 600 !default;
$weight-bold: 700 !default;

// Others 

$shadow-light : 0 2px 3px rgba(0,0,0,.3);

$green-shadow : 0 6px 24px rgba(59,217,153,.5);
$blue-shadow : 0 6px 24px rgba(62,67,205,.5);

$transition : all .3s;