@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700");
html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

body,
button,
input,
select,
textarea {
  font-family: 'open sans', sans-serif;
  border-radius: 2px; }

button,
a {
  cursor: pointer; }

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: sans-serif; }

body {
  color: #121212;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9; }

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none; }

a strong {
  color: currentColor; }

a:hover {
  color: #194690; }

hr {
  background-color: inherit;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0; }

img {
  max-width: 100%; }

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline; }

small {
  font-size: 0.875em; }

span {
  font-style: inherit;
  font-weight: inherit; }

strong {
  color: #121212;
  font-weight: 600; }

pre {
  color: #121212;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: nowrap;
  word-wrap: normal; }

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0; }

table
td,
th {
  text-align: left;
  vertical-align: top; }

table
td th,
th th {
  color: #121212; }

::-webkit-input-placeholder {
  color: #ddd; }

:-moz-placeholder {
  color: #ddd; }

::-moz-placeholder {
  color: #ddd; }

:-ms-input-placeholder {
  color: #ddd; }

* {
  padding: 0;
  margin: 0; }

.is-white {
  background-color: #fff !important;
  border: 1px solid #ddd !important;
  color: #121212 !important; }
.is-primary {
  background-color: #3273dc !important;
  color: #fff !important; }
.is-danger {
  background-color: #ff3860 !important;
  color: #fff !important; }
.is-warning {
  background-color: #ffdd57 !important;
  color: rgba(0, 0, 0, 0.7) !important; }
.is-success {
  background-color: #23d160 !important;
  color: #fff !important; }
.is-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
.is-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
.is-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }
.is-grouped {
  display: flex;
  clear: both;
  justify-content: center;
  align-items: center; }
.is-grouped-right {
  display: flex;
  clear: both;
  justify-content: flex-end;
  align-items: flex-end; }
.is-grouped-left {
  display: flex;
  clear: both;
  justify-content: flex-start;
  align-items: flex-start; }
.is-link {
  background-color: transparent !important;
  color: #3273dc !important; }
.is-block {
  margin: 1rem 0 2rem; }
.is-expand {
  width: calc(100% - .25rem * 2);
  display: flex;
  align-items: center;
  justify-content: center !important; }
.is-light {
  font-weight: 300; }
.is-bold {
  font-weight: 700; }

.initialize-after {
  margin-top: 9.1rem; }

.block {
  margin-bottom: 1.75rem; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 400;
  font-family: 'Roboto', sans-serif; }

h1, .huge {
  font-size: 68px !important;
  line-height: 1.05 !important; }

@media only screen and (max-width: 680px) {
  h1, .huge {
    font-size: 44px; } }
h2, .large {
  font-size: 42px !important;
  line-height: 1.14 !important; }

@media only screen and (max-width: 680px) {
  h2, .large {
    font-size: 32px; } }
h3, .bigger {
  font-size: 26px !important;
  line-height: 1.38 !important; }

@media only screen and (max-width: 680px) {
  h3, .bigger {
    font-size: 22px; } }
h4, .big {
  font-size: 22px !important;
  line-height: 1.38 !important; }

@media only screen and (max-width: 680px) {
  h4, .big {
    font-size: 18px; } }
.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

.card-wrapper {
  width: calc(100% - 10%);
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  align-items: flex-start;
  flex-direction: column;
  position: relative; }
  .card-wrapper ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 74px; }
  .card-wrapper .menu-card {
    width: calc(100% - 32px);
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    max-height: 70px;
    transition: all 0.3s; }
    .card-wrapper .menu-card .logo-icon {
      height: 50px; }
    .card-wrapper .menu-card .title-card {
      font-size: 1.25rem;
      font-family: "Nunito", sans-serif;
      color: #5a6571;
      padding-left: 1.75rem;
      display: flex;
      flex-wrap: wrap; }
      .card-wrapper .menu-card .title-card span {
        width: 100%; }
      .card-wrapper .menu-card .title-card span.sub-title {
        font-size: 14px;
        color: #7d8f9e;
        margin-top: -6px;
        font-weight: 300; }
  .card-wrapper .behind {
    position: relative;
    z-index: 33;
    max-height: 50px;
    background-color: #36379e;
    color: #fff;
    width: 100%;
    padding: 9px 10px 9px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .85rem;
    transition: all .3s;
    margin-top: 1px; }
  .card-wrapper .menu-card:not(:last-child) {
    margin-bottom: .45rem; }
  .card-wrapper .menu-card:hover {
    box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
    transform: translate(0, -5px) !important;
    background-color: white; }
  .card-wrapper .card {
    width: calc(95% - 30px);
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    max-height: 70px;
    transition: all 0.3s;
    position: absolute;
    z-index: 44; }
    .card-wrapper .card .logo-icon {
      height: 50px; }
    .card-wrapper .card .title-card {
      font-size: 1.05rem;
      font-family: "Nunito", sans-serif;
      color: #5a6571;
      padding-left: 1.25rem;
      display: flex;
      flex-wrap: wrap; }
      .card-wrapper .card .title-card span {
        width: 100%; }
        .card-wrapper .card .title-card span span.icon {
          font-size: 14px;
          width: 10%;
          margin: 0 1.25rem; }
      .card-wrapper .card .title-card span.sub-title {
        font-size: 14px;
        color: #7d8f9e;
        margin-top: -4px;
        font-weight: 300; }
    .card-wrapper .card .circle-icon {
      height: 15px;
      width: 15px;
      display: block;
      border-radius: 25px;
      background-color: transparent;
      border: 2px solid #ddd;
      margin-left: auto; }
  .card-wrapper .behind {
    position: relative;
    z-index: 33;
    max-height: 50px;
    background-color: #36379e;
    color: #fff;
    width: 100%;
    padding: 9px 15px 9px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: .85rem;
    transition: all .3s;
    margin-top: 1px; }
  .card-wrapper .card:not(:last-child) {
    margin-bottom: .45rem; }

.list-wrapper {
  width: 100%;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  position: relative;
  z-index: 33;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  justify-content: center;
  margin-bottom: -50px;
  padding-bottom: 2rem; }
  .list-wrapper .list {
    width: calc(90% - 28px);
    background-color: #fff;
    padding: 12px 15px;
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    max-height: 70px;
    transition: all 0.3s;
    position: absolute;
    z-index: 44; }
    .list-wrapper .list .title-list {
      font-size: 1.05rem;
      font-family: "Nunito", sans-serif;
      color: #5a6571;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      width: 100%; }
      .list-wrapper .list .title-list .text {
        width: 90%; }
        .list-wrapper .list .title-list .text span.sub-title {
          font-size: 14px;
          color: #7d8f9e;
          font-weight: 300;
          display: block;
          margin-top: -6px; }
      .list-wrapper .list .title-list span.circle-icon {
        height: 15px;
        width: 15px;
        display: block;
        border-radius: 25px;
        background-color: transparent;
        border: 2px solid #ddd;
        margin-left: auto; }
  .list-wrapper .behind {
    position: relative;
    z-index: 33;
    margin-top: 1px;
    max-height: 43px;
    background-color: #36379e;
    color: #fff;
    width: calc(90% - 30px);
    padding: 9px 10px 9px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    transition: all .3s; }

ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap; }

ul li {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 64px;
  max-height: 82px; }

.swipeleft > .behind {
  transform: translate(18px, 1px); }

.swipeleft > .list {
  box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
  transform: translate(-15px, -1px);
  background-color: #3e43cd;
  color: #fff !important;
  z-index: 55;
  border-radius: 4px; }

.swipeleft > .list > .title-list > .text {
  color: #fff !important; }

.swipeleft > .list > .title-list > .text > .sub-title {
  color: #fff !important; }

.swipeleft > .list > .title-list > span.circle-icon {
  transform: translate(37px, 0) scale(1.2); }

.cardSwipe > .behind {
  transform: translate(15px, 0); }

.cardSwipe > .card {
  box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
  width: 80%;
  transform: translate(-18px, 0);
  background-color: #3e43cd;
  color: #fff !important;
  z-index: 55;
  border-radius: 4px;
  border: none; }

.cardSwipe > .card > .title-card > span {
  color: #fff !important; }

.cardSwipe > .card > .title-card > .sub-title {
  color: #fff !important; }

.cardSwipe > .card > .circle-icon {
  transform: translate(39px, 0) scale(1.4); }

.search-box {
  width: calc(100% - 30px);
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.3);
  color: #5e79bb; }
  .search-box input {
    width: 92%;
    outline: none;
    border: none;
    font-size: 17px;
    font-family: "Nunito", sans-serif; }
  .search-box input::-webkit-input-placeholder {
    color: #5e79bb;
    opacity: .5;
    font-weight: 700; }
  .search-box span.icon {
    font-size: 19px; }

body {
  width: 100%;
  display: flex;
  justify-content: center; }

.body-wrapper {
  width: 800px;
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  min-height: 667px; }

.bg-shape-yellow {
  width: 100%;
  position: absolute;
  z-index: 0;
  flex: 1; }
  .bg-shape-yellow img {
    width: 100%;
    height: 265px; }

.bg-shape-green {
  position: fixed;
  z-index: 0;
  bottom: 0;
  margin-left: auto;
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: flex-end; }
  .bg-shape-green img {
    max-width: 395px;
    max-height: 395px; }

.content {
  position: relative;
  z-index: 11;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .content .header-text {
    margin: 3rem 0;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    width: 100%;
    max-height: 30px; }
    .content .header-text .logo {
      height: 80px;
      position: relative;
      top: -2rem; }
  .content .box {
    background-color: #f8d53b;
    border-bottom: 25px solid #f6ca0a;
    width: calc(100% - 30px);
    height: 140px;
    padding: 10px 15px;
    position: relative; }
  .content .box-view {
    background-color: #3e43cd;
    border-bottom: 25px solid #5e79bb;
    width: calc(100% - 30px);
    height: 140px;
    padding: 10px 15px;
    position: relative;
    z-index: 22; }

.pull-up {
  top: -6.5rem; }

.footer {
  position: fixed;
  background-color: #5e79bb;
  width: calc(800px - 30px);
  padding: 15px;
  max-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  bottom: -1px;
  transition: all 0.3s; }
  .footer p {
    font-weight: 300;
    font-size: 17px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px; }
    .footer p a {
      font-weight: 400;
      color: #fff; }

.is-transparent {
  background-color: transparent !important; }

button.submit {
  font-size: 19px;
  padding: 5px 15px;
  border-radius: 25px;
  min-width: 125px;
  border: none;
  color: #5a6571;
  background-color: #fafafa;
  box-shadow: 0 6px 24px rgba(62, 67, 205, 0.5);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  position: relative;
  margin: 0 auto; }

.scanner-page {
  width: 800px;
  position: relative;
  background-image: url(../img/leaf-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 667px;
  height: 100vh; }
  .scanner-page .scanner-header {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    max-height: 70px;
    padding: 10px 15px; }
    .scanner-page .scanner-header .upper {
      display: flex; }
      .scanner-page .scanner-header .upper a {
        color: #fff;
        font-weight: 700;
        font-family: "Nunito", sans-serif;
        font-size: 17px; }
      .scanner-page .scanner-header .upper .button-group {
        margin-left: auto; }
        .scanner-page .scanner-header .upper .button-group span.icon:not(:last-child) {
          margin-right: 25px; }
    .scanner-page .scanner-header .under {
      color: #fff;
      font-size: 15px; }
  .scanner-page .scanner-footer {
    position: fixed;
    background-color: #fff;
    width: calc(100% - 30px);
    padding: 15px 15px 20px 15px;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 999;
    bottom: -1px;
    transition: all 0.3s; }
    .scanner-page .scanner-footer .upper, .scanner-page .scanner-footer .under {
      width: 100%;
      display: flex;
      justify-content: center; }
    .scanner-page .scanner-footer .upper {
      font-size: 1.35rem;
      font-family: "Nunito", sans-serif;
      margin-bottom: 8px; }
      .scanner-page .scanner-footer .upper span {
        margin-left: 6px; }

.confirmation-page {
  width: 800px;
  position: relative;
  background-color: #f9f9f9;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 667px; }
  .confirmation-page .upper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 66px);
    height: calc(100vh - 66px); }
    .confirmation-page .upper .big-card {
      width: 60%;
      padding: 3.25rem 15px 15px 15px;
      background-color: #fff;
      box-shadow: 0 6px 24px rgba(59, 217, 153, 0.5);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 8px; }
      .confirmation-page .upper .big-card img {
        height: 125px; }
      .confirmation-page .upper .big-card img.check-icon {
        position: absolute;
        height: 75px;
        margin-left: 60px;
        margin-top: 75px;
        border-radius: 50px;
        box-shadow: 0 6px 24px rgba(59, 217, 153, 0.5); }
      .confirmation-page .upper .big-card .big-card-title {
        margin: 2rem 0;
        font-family: "Nunito", sans-serif;
        color: #5a6571;
        font-weight: 700;
        text-align: center; }
        .confirmation-page .upper .big-card .big-card-title span {
          color: #3bd999;
          font-size: 1.45rem; }
  .confirmation-page .under {
    position: fixed;
    background-image: linear-gradient(to right, #3bd999, #12c0c0);
    width: calc(100% - 30px);
    padding: 15px;
    max-height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 999;
    bottom: -1px;
    transition: all 0.3s; }

.info-overlay.active {
  visibility: visible;
  opacity: 1;
  bottom: 0;
  min-height: 55%; }

.card.active {
  width: calc(100% - 30px);
  top: 25%;
  z-index: 99;
  position: fixed; }

.info-overlay {
  width: calc(100% - 30px);
  padding: 3.25rem 15px 3.25rem 15px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 66;
  background-color: #fff;
  position: fixed;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  bottom: -30px;
  min-height: 0; }
  .info-overlay ul {
    margin-bottom: 1.25rem; }
  .info-overlay ul li {
    display: flex;
    text-align-last: auto;
    justify-content: flex-start;
    font-family: "Nunito", sans-serif;
    border-top: 1px solid #ddd;
    padding-top: 15px; }
    .info-overlay ul li .context {
      font-size: 1.05rem;
      color: #5a6571;
      font-weight: 700;
      line-height: 1;
      margin-left: 15px; }
      .info-overlay ul li .context span.sub-context {
        font-size: 14px;
        color: #7d8f9e;
        font-weight: 400;
        font-family: "Nunito", sans-serif; }
    .info-overlay ul li .number {
      margin-left: auto;
      font-size: 1.25rem;
      color: #5a6571;
      font-weight: 700;
      margin-right: 15px; }
  .info-overlay .info-footer {
    padding-top: 1.25rem;
    position: fixed;
    width: calc(100% - 30px - 30px);
    padding: 15px;
    bottom: 0;
    display: flex;
    justify-content: center; }

.overlay-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  top: -11%;
  z-index: 55;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s; }

.overlay-bg.active {
  visibility: visible;
  opacity: 1; }

.bg-shape-gradient {
  width: 100%;
  position: absolute;
  z-index: 0;
  flex: 1; }
  .bg-shape-gradient img {
    width: 100%;
    height: 180px; }

.bg-shape-half {
  position: fixed;
  z-index: 0;
  bottom: 0;
  margin-left: auto;
  flex: 1;
  display: flex;
  width: 100vw;
  justify-content: center; }
  .bg-shape-half img {
    max-width: 495px;
    max-height: 495px; }

.form-wrapper {
  margin-top: -2rem;
  width: calc(100% - 10%);
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
  align-items: flex-start;
  flex-direction: column;
  position: relative; }
  .form-wrapper .title {
    width: 100%;
    font-family: "Nunito", sans-serif;
    text-transform: uppercase;
    color: #3bd999;
    font-size: 2.85rem;
    font-weight: 300;
    text-align: center; }
    .form-wrapper .title span {
      font-weight: 700;
      color: #12c0c0; }
  .form-wrapper .form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .form-wrapper .form .is-centerize {
      display: flex !important;
      justify-content: center; }
    .form-wrapper .form .form-group {
      border: none;
      outline: none;
      background-color: transparent;
      width: 90%;
      display: inline-block;
      color: #3bd999;
      font-size: 14px; }
      .form-wrapper .form .form-group input {
        border: none;
        outline: none;
        font-size: 1.25rem;
        width: calc(100% - 30px);
        background-color: transparent;
        font-size: 17px;
        font-family: "Open Sans", sans-serif;
        padding: 15px 10px;
        border-bottom: 2px solid #3bd999;
        margin: 0 auto; }
      .form-wrapper .form .form-group span.icon {
        width: 10%;
        margin-left: -2rem;
        font-size: 1.25rem; }
      .form-wrapper .form .form-group .left, .form-wrapper .form .form-group .right {
        width: 50%;
        display: inline-block; }
    .form-wrapper .form .form-group:not(:last-child) {
      margin-bottom: 1.25rem; }
    .form-wrapper .form .form-group.wrap {
      margin-top: -1.05rem;
      vertical-align: middle;
      display: inline-block; }
      .form-wrapper .form .form-group.wrap .checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 30px);
        padding: 0 15px;
        align-items: center;
        justify-content: flex-start; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper a {
          margin-left: auto;
          color: #3bd999; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper input[type='checkbox'] {
          width: 10%;
          margin-right: auto;
          margin-left: -12px; }
        .form-wrapper .form .form-group.wrap .checkbox-wrapper span.checkbox-caption {
          margin-left: -50px; }

/*# sourceMappingURL=main.css.map */
