<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
				<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let box of boxes" (click) ="next(box.id)" >
					<ion-label item-end class="list-box">
                        <img src="assets/img/box-logo.png" class="box-img">
                        <div>

                            <h3>Kode : {{box.code}}</h3>
                            <p>Record Center : {{ box.record_center}}</p>
                        </div>
                    </ion-label>
				</ion-item>
			</ion-list>
		</div>
<!-- 
		<div class="footer">
			<button class="submit" (click)="scanFolder(document)">Lanjut</button>
		</div> -->

	</div>

</div>
<!-- <ion-fab right bottom>
	<button ion-fab color="blue" (click)="scan()"><ion-icon name="camera"></ion-icon></button>
</ion-fab> -->
</ion-content>
