	<div class="scanner-page" data-aos="fade-up" data-aos-duration="500">
		
		<div class="scanner-header" data-aos="fade-down" data-aos-duration="1500">
			<div class="upper">
				<a class="button-back">
					<span class="icon"><i class="fas fa-arrow-left"></i></span>
					Back
				</a>
				<div class="button-group">
					<a href="#">
						<span class="icon"><i class="fas fa-image"></i></span>
						<span class="icon"><i class="fas fa-bolt"></i></span>
					</a>
				</div>
			</div>
			<div class="under">
				<p>Point your camera towards the QR code <br> to scan</p>
			</div>
		</div>

		<div class="scanner-footer">
			<div class="upper">
				Scanning <span class="is-bold">Box</span>
			</div>
			<div class="under">
				<button class="submit" (click)="asignbox3()">Selanjutnya</button>
			</div>
		</div>

	</div>

