	
	

	<div class="body-wrapper menu-wrapper">
			
		<div class="content">
			
			<div class="box" data-aos="fade-down" data-aos-duration="1000">
				<div class="search-box">
					<input type="text" placeholder="Search">
					<span class="icon">
						<i class="fas fa-search"></i>
					</span>

				</div>

			</div>

	<!-- 		<div class="card-wrapper pull-up" data-aos="fade-up" data-aos-duration="1000">
						
	 -->			<div class="card-wrapper">
					<ul>
						<li>
						<ion-list class="card" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<img class="pagee" src="assets/img/file-logo.png" alt="">
								
									Laporan Keuangan
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>

						<li>
						<ion-list class="card" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<img class="pagee" src="assets/img/file-logo.png" alt="">
								
									Laporan Keuangan
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
					</ul>
						</div>
		</div>

	</div>

	<ion-footer>
	  <ion-toolbar>
	    <button class="submit" (click)="scanFolder(document)">Lanjut</button>
	  </ion-toolbar>
	</ion-footer>