<div class="scanner-page" data-aos="fade-up" data-aos-duration="500">
		
	<div class="scanner-header" data-aos="fade-down" data-aos-duration="1500">
		<div class="upper">
			<a class="button-back">
				<span class="icon"><i class="fas fa-arrow-left"></i></span>
				Back
			</a>
			<div class="button-group">
				<a href="#">
					<span class="icon"><i class="fas fa-image"></i></span>
					<span class="icon"><i class="fas fa-bolt"></i></span>
				</a>
			</div>
		</div>
		<div class="under">
			<p>Point your camera towards the QR code <br> to scan</p>
		</div>
	</div>

	<ion-content padding>

		<ion-card *ngIf="result">
		  <ion-card-content>
			<p>Text: {{result.text}}</p>
			<p>Format: {{result.format}}</p>
			<p>Cancelled: {{result.cancelled}}</p>
		  </ion-card-content>
		</ion-card>
	  
		<ion-row>
		  <button ion-button block (click)="scanBarcode()">Scan</button>
		</ion-row>
		
</ion-content>

	<div class="scanner-footer">
		<div class="upper">
			Scanning <span class="is-bold">Folder</span>
		</div>
		<div class="under">
			<button class="submit" (click)="entry()">Selesai</button>
		</div>
	</div>

</div>

