@import '3-utilities/variables';

.card-wrapper {
	width: calc(100% - 10%);
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	align-items: flex-start;
	flex-direction: column;
	position: relative;

	ul li {
		list-style: none;
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		min-height: 74px;
	}

	.menu-card {
		width: calc(100% - 32px);
		background-color: #fff;
		padding: 10px 15px;
		display: flex;
		align-items: center;
		border-radius: 4px;
		box-shadow: 0 4px 12px rgba(0,0,0,.2);
		border: 1px solid #ddd;
		max-height: 70px;
		transition: $transition;

		.logo-icon {
			height: 50px;
		}

		.title-card {
			font-size: 1.25rem;
			font-family: $nunito;
			color: $text;
			padding-left: 1.75rem;
			display: flex;
			flex-wrap: wrap;

			span {
				width: 100%;
			}

			span.sub-title {
				font-size: 14px;
				color: $text-light;
				margin-top: -6px;
				font-weight: 300;
			}
		}
	}

	.behind {
		position: relative;
		z-index: 33;
		max-height: 50px;
		background-color: $blue-dark;
		color: #fff;
		width: 100%;
		padding: 9px 10px 9px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: .85rem;
		transition: all .3s;
		margin-top: 1px;
	}

	.menu-card:not(:last-child) {
		margin-bottom: .45rem;
	}

	.menu-card:hover {
		box-shadow: $blue-shadow;
		transform: translate(0, -5px)!important;
		background-color: lighten($blue-bis,50%);
	}

	.card {
		width: calc(95% - 30px);
		background-color: #fff;
		padding: 10px 15px;
		display: flex;
		align-items: center;
		border-radius: 4px;
		box-shadow: 0 4px 12px rgba(0,0,0,.2);
		border: 1px solid #ddd;
		max-height: 70px;
		transition: $transition;
		position: absolute;
		z-index: 44;

		.logo-icon {
			height: 50px;
		}

		.title-card {
			font-size: 1.05rem;
			font-family: $nunito;
			color: $text;
			padding-left: 1.25rem;
			display: flex;
			flex-wrap: wrap;

			span {
				width: 100%;

				span.icon {
					font-size: 14px;
					width: 10%;
					margin: 0 1.25rem;
				}
			}

			span.sub-title {
				font-size: 14px;
				color: $text-light;
				margin-top: -4px;
				font-weight: 300;
			}
		}

		.circle-icon {
			height: 15px;
			width: 15px;
			display: block;
			border-radius: 25px;
			background-color: transparent;
			border: 2px solid #ddd;
			margin-left: auto;
		}
	}

	.behind {
		position: relative;
		z-index: 33;
		max-height: 50px;
		background-color: $blue-dark;
		color: #fff;
		width: 100%;
		padding: 9px 15px 9px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: .85rem;
		transition: all .3s;
		margin-top: 1px;
	}

	.card:not(:last-child) {
		margin-bottom: .45rem;
	}

	.card:hover {
		// box-shadow: $blue-shadow;
		// transform: translate(0, -5px)!important;
		// background-color: lighten($blue-bis,50%);
	}
}

.list-wrapper {
	width: 100%;
	padding-top: 15px;
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	position: relative;
	z-index: 33;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: $shadow-light;
	justify-content: center;
	margin-bottom: -50px;
	padding-bottom: 2rem;

	.list {
		width: calc(90% - 28px);
		background-color: #fff;
		padding: 12px 15px;
		border-top: 1px solid #ddd;
		display: flex;
		align-items: center;
		max-height: 70px;
		transition: $transition;
		position: absolute;
		z-index: 44;

		.title-list {
			font-size: 1.05rem;
			font-family: $nunito;
			color: $text;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

			.text {
				width: 90%;

				span.sub-title {
					font-size: 14px;
					color: $text-light;
					font-weight: 300;
					display: block;
					margin-top: -6px;
				}
			}

			span.circle-icon {
				height: 15px;
				width: 15px;
				display: block;
				border-radius: 25px;
				background-color: transparent;
				border: 2px solid #ddd;
				margin-left: auto;
			}
		}
	}

	.behind {
		position: relative;
		z-index: 33;
		margin-top: 1px;
		max-height: 43px;
		background-color: $blue-dark;
		color: #fff;
		width: calc(90% - 30px);
		padding: 9px 10px 9px 15px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		font-size: 1rem;
		transition: all .3s;
	}

	.list:last-child {
		// border-bottom: 1px solid #ddd;
	}

	// .list:not(:last-child) {
	// 	margin-bottom: .45rem;
	// }
}

ul {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

ul li {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-height: 64px;
	max-height: 82px;
}

.swipeleft > .behind{
	transform: translate(18px,1px);
}

.swipeleft > .list {
	box-shadow: $blue-shadow;
	transform: translate(-15px, -1px);
	background-color: $blue-bis;
	color: #fff!important;
	z-index: 55;
	border-radius: 4px;
}
.swipeleft > .list > .title-list > .text {
	color: #fff!important;
}
.swipeleft > .list > .title-list > .text > .sub-title {
	color: #fff!important;
}
.swipeleft > .list > .title-list > span.circle-icon {
	transform: translate(37px,0) scale(1.2);
}

.cardSwipe > .behind{
	transform: translate(15px,0);
}

.cardSwipe > .card {
	box-shadow: $blue-shadow;
	width: 80%;
	transform: translate(-18px, 0);
	background-color: $blue-bis;
	color: #fff!important;
	z-index: 55;
	border-radius: 4px;
	border: none;
}
.cardSwipe > .card > .title-card > span {
	color: #fff!important;
}
.cardSwipe > .card > .title-card > .sub-title {
	color: #fff!important;
}
.cardSwipe > .card > .circle-icon {
	transform: translate(39px,0) scale(1.4);
}

