@import '3-utilities/variables';

.confirmation-page {
	width: 800px;
	position: relative;
	background-color: #f9f9f9;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 667px;

	.upper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		min-height: calc(100% - 66px);
		height: calc(100vh - 66px);

		.big-card {
			width: 60%;
			padding: 3.25rem 15px 15px 15px;
			// max-height: 500px;
			background-color: #fff;
			box-shadow: $green-shadow;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			border-radius: 8px;

			img {
				height: 125px;
			}

			img.check-icon {
				position: absolute;
				height: 75px;
				margin-left: 60px;
				margin-top: 75px;
				border-radius: 50px;
				box-shadow: $green-shadow;
			}

			.big-card-title {
				margin: 2rem 0;
				font-family: $nunito;
				color: $text;
				font-weight: 700;
				text-align: center;

				span {
					color: $green-bis;
					font-size: 1.45rem;
				}
			}
		}
	}

	.under {
		position: fixed;
		background-image: $gradient-green;
		width: calc(100% - 30px);
		padding: 15px;
		max-height: 100px;
		display: flex;	
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		z-index: 999;
		bottom: -1px;	
		transition: $transition;
	}
}