@import '3-utilities/variables';

body {
	width: 100%;
	display: flex;
	justify-content: center;
}

.body-wrapper {
	width: 800px;
	position: relative;
	background-color: #f9f9f9;
	display: flex;
	justify-content: center;
	min-height: 667px; 
}

.bg-shape-yellow {
	width: 100%;
	position: absolute;
	z-index: 0;
	flex: 1;

	img {
		width: 100%;
		height: 265px;
	}
}

.bg-shape-green {
	position: fixed;
	z-index: 0;
	bottom: 0;
	margin-left: auto;
	flex: 1;
	display: flex;
	width: 100%;
	justify-content: flex-end;

	img {
		max-width: 395px;
		max-height: 395px;
	}
}

.content {
	position: relative;
	z-index: 11;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	.header-text {
		margin: 3rem 0;
		font-family: $open-sans;
		color: #fff;
		font-size: 17px;
		text-align: center;
		font-weight: 400;
		width: 100%;
		max-height: 30px;

		.logo {
			height: 80px;
			position: relative;
			top: -2rem;
		}
	}

	.box {
		background-color: $yellow-bis;
		border-bottom: 25px solid $yellow-dark;
		width: calc(100% - 30px);
		height: 165px - 25; 
		padding: 10px 15px;
		position: relative;
	}

	.box-view {
		background-color: $blue-bis;
		border-bottom: 25px solid $blue-light;
		width: calc(100% - 30px);
		height: 165px - 25; 
		padding: 10px 15px;
		position: relative;
		z-index: 22;
	}
}

.pull-up {
	top: -6.5rem;
}

.footer {
	position: fixed;
	background-color: $blue-light;
	width: calc(800px - 30px);
	padding: 15px;
	max-height: 55px;
	display: flex;	
	align-items: center;
	justify-content: center;
	z-index: 999;
	bottom: -1px;	
	transition: $transition;

	p {
		font-weight: 300;
		font-size: 17px;
		color: #fff;
		font-family: $open-sans;
		letter-spacing: 1px;

		a {
			font-weight: 400;
			color: #fff;
		}
	}		
}

.is-transparent {
	background-color: transparent!important;
}

button.submit {
	font-size: 19px;
	padding: 5px 15px;
	border-radius: 25px;
	min-width: 125px;
	border: none;
	color: $text;
	background-color: $white-bis;
	box-shadow: $blue-shadow;
	font-family: $nunito;
	font-weight: 700;
	position: relative;
	margin: 0 auto;
}


