@import '3-utilities/variables';

.bg-shape-gradient {
	width: 100%;
	position: absolute;
	z-index: 0;
	flex: 1;

	img {
		width: 100%;
		height: 180px;
	}
}

.bg-shape-half {
	position: fixed;
	z-index: 0;
	bottom: 0;
	margin-left: auto;
	flex: 1;
	display: flex;
	width: 100vw;
	justify-content: center;

	img {
		max-width: 495px;
		max-height: 495px;
	}
}

.form-wrapper {
	margin-top: -2rem;
	width: calc(100% - 10%);
	padding: 0 5%;
	display: flex;
	flex-wrap: wrap;
	min-height: 400px;
	align-items: flex-start;
	flex-direction: column;
	position: relative;

	.title {
		width: 100%;
		font-family: $nunito;
		text-transform: uppercase;
		color: $green-bis;
		font-size: 2.85rem;
		font-weight: 300;
		text-align: center;

		span {
			font-weight: 700;
			color: $green-dark;
		}

	}

	.form {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		.is-centerize {
			display: flex!important;
			justify-content: center;
		}

		.form-group {
			border: none;
			outline: none;
			background-color: transparent;
			width: 90%;
			display: inline-block;
			color: $green-bis;
			font-size: 14px;

			input {
				border: none;
				outline: none;font-size: 1.25rem;
				width: calc(100% - 30px);
				background-color: transparent;
				font-size: 17px;
				font-family: $open-sans;
				padding: 15px 10px;
				border-bottom: 2px solid $green-bis;
				margin: 0 auto;
			}

			span.icon {
				width: 10%;
				margin-left: -2rem;
				font-size: 1.25rem;
			}

			.left , .right {
				width: 50%;
				display: inline-block;
			}
		}

		.form-group:not(:last-child) {
			margin-bottom: 1.25rem;
		}

		.form-group.wrap {
			margin-top: -1.05rem;
			vertical-align: middle;
			display: inline-block;

			.checkbox-wrapper {
				display: flex;
				flex-wrap: wrap;
				width: calc(100% - 30px);
				padding: 0 15px;
				align-items: center;
				justify-content: flex-start;

				a {
					margin-left: auto;
					color: $green-bis;
				}

				input[type='checkbox'] {
					width: 10%;
					margin-right: auto;
					margin-left: -12px;
				}

				span.checkbox-caption {
					margin-left: -50px;
				}
			}
		}
	}
}

