@import '3-utilities/variables';

.info-overlay.active {
	visibility: visible;
	opacity: 1;
	bottom: 0;
	min-height: 55%;
}

.card.active {
	width: calc(100% - 30px);
	top: 25%;
	z-index: 99;
	position: fixed;
}

.info-overlay {
	width: calc(100% - 30px);
	padding: 3.25rem 15px 3.25rem 15px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	box-shadow: $shadow-light;
	z-index: 66;
	background-color: #fff;
	position: fixed;
	transition: $transition;

	visibility: hidden;
	opacity: 0;
	bottom: -30px;
	min-height: 0;

	ul {
		margin-bottom: 1.25rem;
	}

	ul li {
		display: flex;
		text-align-last: auto;
		justify-content: flex-start;
		font-family: $nunito;
		border-top: 1px solid #ddd;
		padding-top: 15px;

		.context {
			font-size: 1.05rem;
			color: $text;
			font-weight: 700;
			line-height: 1;
			margin-left: 15px;

			span.sub-context {
				font-size: 14px;
				color: $text-light;
				font-weight: 400;
				font-family: $nunito;
			}
		}

		.number {
			margin-left: auto;
			font-size: 1.25rem;
			color: $text;
			font-weight: 700;
			margin-right: 15px;
		}
	}

	.info-footer {
		padding-top: 1.25rem;
		position: fixed;
		width: calc(100% - 30px - 30px);
		padding: 15px;
		bottom: 0;
		display: flex;
		justify-content: center;
	}
}

.overlay-bg {
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,.3);
	left: 0;
	top: -11%;
	z-index: 55;
	visibility: hidden;
	opacity: 0;
	transition: $transition;
}

.overlay-bg.active {
	visibility: visible;
	opacity: 1;
}