@import '3-utilities/variables';

.scanner-page {
	width: 800px;
	position: relative;
	background-image: url(../img/leaf-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 667px;
	height: 100vh;

	.scanner-header {
		background-color: rgba(0,0,0,.4);
		width: 100%;
		max-height: 70px;
		padding: 10px 15px;

		.upper {
			display: flex;

			a {
				color: #fff;
				font-weight: 700;
				font-family: $nunito;
				font-size: 17px;
			}

			.button-group {
				margin-left: auto;

				span.icon:not(:last-child) {
					margin-right: 25px;
				}
			}
		}

		.under {
			color: #fff;
			font-size: 15px;
		}
	}

	.scanner-footer {
		position: fixed;
		background-color: #fff;
		width: calc(100% - 30px);
		padding: 15px 15px 20px 15px;
		max-height: 100px;
		display: flex;	
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		z-index: 999;
		bottom: -1px;	
		transition: $transition;

		.upper , .under {
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.upper {
			font-size: 1.35rem;
			font-family: $nunito;
			margin-bottom: 8px;

			span {
				margin-left: 6px;
			}
		}
	}
}