@import '3-utilities/variables';

.search-box {
	width: calc(100% - 30px);
	padding: 10px 15px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 32px rgba(0,0,0,.3);
	color: $blue-light;

	input {
		width: 92%;
		outline: none;
		border: none;
		font-size: 17px;
		font-family: $nunito;
	}

	input::-webkit-input-placeholder {
		color: $blue-light;
		opacity: .5;
		font-weight: 700;
	}

	span.icon {
		font-size: 19px;
	}
}