<ion-content>

	<div class="body-wrapper menu-wrapper">
  
	  <div class="content">
		  
		  <div class="box-view" data-aos="fade-up" data-aos-duration="500">
				  <button class="back__button" ion-button block (click)="back()">
					  <img src="assets/img/left-arrow.png" alt="">
				  </button>
			   <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		  </div>
  
		  <div class="list-wrapper">
			  <ion-list>

				  <button ion-item text-wrap *ngFor="let _berkas of berkas" (click)="openDocumentList(_berkas.id)">
					  <ion-label class="label__list">
					  	<div class="icon__wrapper">
					  		<img src="assets/img/pemberkasan.png" alt="">
					  	</div>
						<div>
						  <h3>Indeks : {{ _berkas.indeks}}</h3>
						  <p>Date : {{ _berkas.date}}</p>
						</div>
						<br class="clear">
					  </ion-label>
				  </button>
			  </ion-list>
		  </div>
  
		  <!-- <div class="footer">
			  <button class="submit" (click)="listDokumen(berkas)">Lanjut</button>
		  </div> -->
  
	  </div>
  
  </div>
  
  </ion-content>
  