<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="assets/img/left-arrow.png" alt="">
				</button>
				<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let document of documents" >
					<ion-label class="label__list">
						<ion-avatar item-start>
					  		<img src="assets/img/file.png" alt="">
					  	</ion-avatar>
						<div class="icon__text">
							<h2>No : {{ (document.no==null) ? '--' : document.no}}</h2>
							<h3>Nama Pelaksana : {{ document.name }}</h3>
							<h3>Tahun : {{ document.tahun }}</h3>
							<p ion-text color="primary" class="indexed" *ngIf="document.indeks != null">Indeks : {{ document.indeks}}</p>
							
							<h3>Folder : {{ document.code_folder }}</h3>
							<h3>Box : {{ document.code_box }}</h3>

							<h3>Lemari : {{ document.code_cabinet }}</h3>
							<p>Uraian : {{ document.uraian}}</p>
						</div>
						<button ion-button class="downloadBtn" color="primary" (click)="download(document)" *ngIf="(document.dokumen_file!=null&&document.dokumen_file!='')">
							<ion-icon name="document"></ion-icon>
						</button>
						<br class="clear">
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
<!-- 
		<div class="footer">
			<button class="submit" (click)="scanFolder(document)">Lanjut</button>
		</div> -->

	</div>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   		<ion-infinite-scroll-content></ion-infinite-scroll-content>
 	</ion-infinite-scroll>

</div>

</ion-content>
