

	<div class="body-wrapper menu-wrapper">

		<div class="content">
			
			<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<div class="search-box">
					<input type="text" placeholder="Search">
					<span class="icon">
						<i class="fas fa-search"></i>
					</span>
				</div>
			</div>

					<div class="list-wrapper">
					<ul>
						<li class="slideTrigger">
						<div class="list">
							<!-- <img src="../source/img/file-logo.png" alt="" class="logo-icon"> -->
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</div>
						<div class="behind">
							<span class="icon"><i class="fas fa-check"></i></span>
						</div>
					</li>
					<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
					</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
						<li>
						<ion-list class="list" no-lines>
						<ion-item-sliding #item>
								
						<ion-item>
							<div class="title-list is-bold">
								<div class="text">
									Title Here
									<span class="sub-title">Any Possible subtitle here</span>
								</div>
								<span class="circle-icon"></span>
							</div>
						</ion-item>
						<ion-item-options side="right">
						<ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
						</ion-item-options>

						</ion-item-sliding>
						</ion-list>
						</li>
					</ul>
						</div>

			<div class="footer">
				<button class="submit" (click)="entry3()">Selesai</button>
			</div>

		</div>

	</div>
