<!--
  Generated template for the TestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>test</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
<ion-list>
  <ion-item-sliding #item>
    <ion-item>
      Item
    </ion-item>
    <ion-item-options side="right">
      <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>
</ion-card>
</ion-content>
