<ion-content>

	<div class="body-wrapper menu-wrapper">
  
	  <div class="content">
		  
		  <div class="box-view" data-aos="fade-up" data-aos-duration="500">
				  <button class="back__button" ion-button block (click)="back()">
					  <img src="assets/img/left-arrow.png" alt="">
				  </button>
				  <ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		  </div>
  
		  <div class="list-wrapper">
			  <ion-list>
				  <ion-item *ngFor="let _peminjaman of peminjaman" (click)="openDetail(_peminjaman.id)">
					  <ion-label class="label__list">
						<div class="icon__wrapper">
					  		<img src="assets/img/peminjaman.png" alt="">
					  	</div>
						<div class="icon__text">
							<h3>Keperluan : {{ _peminjaman.keperluan}}</h3>
							<p>Tanggal Pinjam : {{ _peminjaman.date}}</p>
							<p>Tanggal Pengembalian : {{ _peminjaman.return_date}}</p>
							<p>Catatan : {{ _peminjaman.remark}}</p>
						</div>
					  </ion-label>
				  </ion-item>
			  </ion-list>
		  </div>
		  
		  <!-- <div class="footer">
			  <button class="submit" (click)="listDokumen(berkas)">Lanjut</button>
		  </div> -->
  
	  </div>
  
  </div>
  <ion-fab right bottom>
	<button ion-fab color="blue" (click)="form()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  </ion-content>
  