<ion-content>

  <div class="body-wrapper menu-wrapper">

	<div class="content">
		
		<div class="box-view" data-aos="fade-up" data-aos-duration="500">
				<button class="back__button" ion-button block (click)="back()">
					<img src="../assets/img/left-arrow.png" alt="">
				</button>
				<ion-searchbar type="text" placeholder="Search" (ionInput)="getItems($event)" (ionClear)="reset($event)" (ngModel)="searchKey"></ion-searchbar>
		</div>

		<div class="list-wrapper">
			<ion-list>
				<ion-item *ngFor="let folder of folders" (click) ="next(folder.id)" >
					<ion-label class="label__list">
						<div class="icon__wrapper">
					  		<img src="../assets/img/folder-logo.png" alt="">
					  	</div>
						<div class="icon__text">
							<h2>Folder : {{ (folder.code==null) ? '--' : folder.code}}</h2>
							<!-- <h3>Record Center : {{ cupboard.record_center }}</h3> -->
						</div>
						<!-- <button ion-button class="downloadBtn" color="primary" (click)="download(document)" *ngIf="(document.dokumen_file!=null||document.dokumen_file!='')">
							<ion-icon name="document"></ion-icon>
						</button> -->
						<br class="clear">
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
<!-- 
		<div class="footer">
			<button class="submit" (click)="scanFolder(document)">Lanjut</button>
		</div> -->

	</div>

</div>
<!-- <ion-fab right bottom>
	<button ion-fab color="blue" (click)="scan()"><ion-icon name="camera"></ion-icon></button>
</ion-fab> -->
</ion-content>
