page-scan-assign-folder {
    
  .back__button {
    background-color: transparent;

    &.activated {
      background-color: transparent;  
    }

    img {
      height: 20px;
      max-width: 20px!important;
    }
  }
  .scanner-page {
      width: 100%;
      position: relative;
      background-image: url(assets/img/leaf-bg.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 667px;
      height: 100vh; }
      .scanner-page .scanner-header {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        max-height: 70px;
        padding: 10px 15px; }
        .scanner-page .scanner-header .upper {
          display: flex; }
          .scanner-page .scanner-header .upper a {
            color: #fff;
            font-weight: 700;
            font-family: "Nunito", sans-serif;
            font-size: 17px; }
          .scanner-page .scanner-header .upper .button-group {
            margin-left: auto; }
            .scanner-page .scanner-header .upper .button-group span.icon:not(:last-child) {
              margin-right: 25px; }
        .scanner-page .scanner-header .under {
          color: #fff;
          font-size: 15px; }
      .scanner-page .scanner-footer {
        position: fixed;
        background-color: #fff;
        width: 100%;
        padding: 15px 15px 20px 15px;
        max-height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 999;
        bottom: -1px;
        transition: all 0.3s; }
        .scanner-page .scanner-footer .upper, .scanner-page .scanner-footer .under {
          width: 100%;
          display: flex;
          justify-content: center; }
        .scanner-page .scanner-footer .upper {
          font-size: 1.35rem;
          font-family: "Nunito", sans-serif;
          margin-bottom: 8px; }
          .scanner-page .scanner-footer .upper span {
            margin-left: 6px; }
    
      
}
