<div class="scanner-page" data-aos="fade-up" data-aos-duration="500">
		
	<div class="scanner-header" data-aos="fade-down" data-aos-duration="1500">
		<div class="upper">
			<ion-row>
		  <button class="back__button" ion-button block (click)="back()">
				<img src="assets/img/left-arrow.png" alt="">
			</button>
		</ion-row>
		<div class="under">
			<ion-row>
				<p>Point your camera towards the QR code <br> to scan</p>
			</ion-row>
		</div>
		</div>
	</div>


	<ion-content padding>
		<ion-card *ngIf="result">
		  <ion-card-content>
			<p>Text: {{result.text}}</p>
			<p>Format: {{result.format}}</p>
			<p>Cancelled: {{result.cancelled}}</p>
		  </ion-card-content>
		</ion-card>
	  
		<ion-row>
		  <button ion-button block (click)="scanBarcode()">SCAN BOX</button>
		</ion-row>
		
</ion-content>

	<div class="scanner-footer">
		<div class="under">
			<button class="submit" (click)="finish()">Selesai</button>
		</div>
	</div>
</div>